<br>
<br>

<div class="search_jobs">
  <div class="container">
    
    <div class="row">

      <div class="col ">
      	<%= @searchable.location %>
		<%= @searchable.keyword %>
       <%= render 'searchables/searchbox' %>
      </div>

      <div class="col-md-8">
      	<%= render 'searchables/jobitems' %>
      </div>

    </div>

  </div>
</div>





<style>
  body {
    background: #f3f4f8;
  }
</style>