<div class="wrapper_search_box wrapperTextChange">
  <div class="container">

    <div class="row">

      <div class="col full_width">
        <label class="labelSearchTags"> What</label> <br>
        <input type="search" ng-model="searchTitle.title" class="customSearchInput">
        <label class="grayLabelSmal">
          Job title, keywords or company name
        </label>
      </div>

      <div class="col full_width">
        <label class="labelSearchTags"> Where</label> <br>
        <input type="search" ng-model="searchArea.description" class="customSearchInput">
        <label class="grayLabelSmal"> City </label>
      </div>

    </div>

  </div>

</div>

<br>

<div class="jobsList" ng-controller="jobsController">

  <div class="container" >

    <div class="row">

      <div class="col">

        <div class="jobItems animated fadeInUp" ng-repeat="job in filterdShows = ( jobsList | orderBy: 'created_at':true| filter:searchTitle | filter:searchArea)" >

          <div class="search_result">
            <h5 class="title">
              <a href="{{job.url}}">
                <strong>
                  {{job.title}}
                </strong>
              </a>
            </h5>
            <div class="JobInfo">
              <a href="#">Company Name</a> | <span>Location {{job.postcode}}</span> | <a href="#">{{job.number_of_bids}} bids</a>  | {{job.hourly_rate | currency:'£' }} phr
            </div>

            <p class="jobDescription">
              {{job.summary | htmlToPlaintext | limitTo:200}} ...
            </p>


            <div class="text_centered">
              <strong>Bidders </strong>
            </div>

            <ul class="biders">
              <li ng-repeat="bid in job.bids" class="result_avatar">
                <img ng-src="{{bid.user_avatar}}" alt="">

              </li>
              <li class="result_avatar resultTextSpacing purple_bg">
                {{job.bid_size}}
              </li>

            </ul>

            <div class="text_centered">
              <strong>Posted | </strong> {{job.created_at | date }}
            </div>



          </div>

        </div>

      </div>



      <div class="col-5">

        <form action="">
          <form action="">
          <input type="checkbox" name="gender" ng-model="searchArea.negotiable_price" > negotiable price <br>
          <input type="checkbox" name="gender" ng-model="searchArea.fixed_price"> fixed price <br>
        </form>


        </form>



      </div>




    </div>



  </div>
</div>
