<br>
<br>

<div class="search_jobs">
  <div class="container">
    
    <div class="row">

      <div class="col ">
       <%= render 'searchables/searchbox' %>
      </div>

      <div class="col-md-8">
        
        <div class="jobs_items">

          <%= render 'searchables/jobitems' %>
          
        </div>

      </div>

    </div>

  </div>
</div>





<style>
  body {
    background: #f3f4f8;
  }
</style>