// minimalist Design

$color-white: #ffffff;
$color-purple: #903aff;
$color-purplelight: #9e53ff;
$color-lightgreen: #16d357;
$color-distext: #adbec5;
$color-genfont: #324249;
$color-lightgray: #d9e6ec;
$color-red: #f54946;
$color-orange: #fd9a28;
$color-blue: #1996f8;
$color-bggray: #f4f8f9;
$color-gray: #7b7b7b;
$color-lightblue: #3498db;
