@import url('https://fonts.googleapis.com/css?family=PT+Serif');

$font-rubik: 'Rubik', sans-serif;
$font-web: 'Titillium Web', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-sans: 'Open Sans', sans-serif;
$font-ptserif: 'PT Serif', serif;
