@import "colors";
@import "fonts";

.page {
  min-height: 600px;
  font-family: sans-serif;
}


*{
  transition: all .2s !important;
}

.title {
  font-weight: 600;
  font-size: 1.1em;
  text-transform: capitalize;
}

.jobDescription {
  font-size: .95em;
  margin: 0;
  color: #484848;
  font-weight: 300;
}


.JobInfo {
  color: #484848;
  font-weight: 300;
}

.created_atJob {
  font-weight: 300;
  color: gray;
}

.jobsList {
  width: 100%;
}


.jobItems {
  width: 100%;
  margin-bottom: 2px;
}


.wrapperTextChange {
  width: 100%;
  background: #f7f7f7;
  padding: 16px;

  .labelSearchTags {
    font-weight: 600;
    color: gray;
  }

}


.gab {
  width: 100%;
  height: 80px;
  // background: red;
}


.grayLabelSmal {
  color: gray;
}

.full_width {
  input{
    width: 100%;
    padding: 10px;
  }
}



.call_to_action_text {
  width: 50%;
  min-width: 400px;
  margin-top: 47px;
  .color_red {
    color: $color-purple;
  }

  .caato {
    font-family: inherit ;
    font-size: 28px ;
    line-height: 26px ;
    letter-spacing: -0.6px ;
    padding-top: 2px ;
    padding-bottom: 2px ;
    color: #484848 ;
    font-weight: 300 ;
  }

  .fat_text {
    font-weight: 700;
    color: #FF5A5F;
  }

}
