<div class="footer">
  <div class="container">

    <div class="row flat">


    <ul class="col text-align-left">
      <li >© 2015 - 2017 Sebki Ltd.</li>


    </ul>

      <ul class="col text-align-right">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>

    </div>









  </div>


  <div class="text-alig-center cr-tag">
    Made With <span class="fa fa-heart color-red"></span> In London
  </div>

</div>
