<div class="row">
	<div class="col-md-3">
		<ul class="nav-pills mb-3" id="pills-tab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
		    	Who we are?
		    </a>
		  </li>
		  
		  <li class="nav-item">
		    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
		    	What we do?
		    </a>
		  </li>
		  
		  <li class="nav-item">
		    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
			    Why we do it?
			</a>
		  </li>
		</ul>
	</div>

	<div class="col">
		

		<div class="tab-content" id="pills-tabContent">
			
			<div class="tab-pane card p30 fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
				We are Sebki Limited. An online based networking platform connecting members of the United Kingdom Security Industry.
			</div>

			<div class="tab-pane card p30 fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
				We hold a unique database of security personnel who are actively searching for a job. We categorise these individuals into work-related sectors based on their preferences and accreditations. 
				<br>
				<br>

				<h3>We display this</h3>
				<br>

				information in a user-friendly manner to agencies or direct employers for service users to network and
				carry out healthy business with service providers. 
				<br>
				<br>
				We also gather feedback on all security personnel and
				their service users utilising features such as bedding and ratings to encourage healthy competition
				between members and most importantly drive the industry to aspire to excellence.
			</div>

			<div class="tab-pane card p30 fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
				The security industry in the UK is largely disconnected with service provides keeping close relationships
				with allied company’s and severely distancing one another from their competitors. 
				<br>
				<br>
				We Sebki Ltd
				limited aim to bridge this gap by connecting service users to service providers and services proves to one another. 
				<br>
				<br>
				In doing so we believe we will set the pace in creating a unique online security network within the United Kingdom.

			</div>

		</div>

	</div>
</div>

