	<div class="section2">

		<div class="container">

			<div class="row">
				<div class="col">


					<div class="result_items">

						<div class="result_item">
							<h5>Hotel / Residential Security / Concierge - SIA Licenced Officers</h5>

							<h6>Lodge Security Ltd | 5 applicants | <label>Posted 5 munites ago</label> </h6>

							<p>
								Valid Frontline Security Guarding or Door Supervision Licence with experience in a security or retail type role (knowledge of ASCONE is a distinct advantage)....
							</p>

						</div>


						<div class="result_item">
							<h5>Hotel / Residential Security / Concierge - SIA Licenced Officers</h5>

							<h6>Lodge Security Ltd | 5 applicants | <label>Posted 5 munites ago</label> </h6>

							<p>
								Valid Frontline Security Guarding or Door Supervision Licence with experience in a security or retail type role (knowledge of ASCONE is a distinct advantage)....
							</p>

						</div>


					</div>

				</div>
				<div class="col">
					

					<div class="result_items_slim">


						<div class="result_item_slim">
							<div class="row">
								<div class="col-md-3">
									<div class="image_avatar"></div>
								</div>
								<div class="col">
									<h6>LONDON CITY SECURITY</h6>
									<h6>
										5 applications | 
										<label>Joined 5 munites ago</label>
									</h6>		
								</div>
							</div>
						</div>


						<div class="result_item_slim">
							<div class="row">
								<div class="col-md-3">
									<div class="image_avatar"></div>
								</div>
								<div class="col">
									<h6>LONDON CITY SECURITY</h6>
									<h6>
										Lodge Security Ltd | 5 applications | 
										<label>Posted 5 munites ago</label>
									</h6>		
								</div>
							</div>
						</div>

						<div class="result_item_slim">
							<div class="row">
								<div class="col-md-3">
									<div class="image_avatar"></div>
								</div>
								<div class="col">
									<h6>LONDON CITY SECURITY</h6>
									<h6>
										Lodge Security Ltd | 5 applications | 
										<label>Posted 5 munites ago</label>
									</h6>		
								</div>
							</div>
						</div>

						<div class="result_item_slim">
							<div class="row">
								<div class="col-md-3">
									<div class="image_avatar"></div>
								</div>
								<div class="col">
									<h6>LONDON CITY SECURITY</h6>
									<h6>
										Lodge Security Ltd | 5 applications | 
										<label>Posted 5 munites ago</label>
									</h6>		
								</div>
							</div>
						</div>


					</div>

				</div>
			</div>
		</div>
	
</div>