<div class="section1" style="background-image: url('assetsandimages/bg.jpg');">

		<div class="container">
			<h3 class="calltoAction">
				<label class="fat_text">Sebki</label> <br>
		        The smart way to hire security guards and officers.
			</h3>

			<div class="search_box">
				<form action="">
					
				<div class="input-group">
				  <input type="text" class="form-control form-control-lg" placeholder="What are you looking for ....">
				  <input type="text" class="form-control form-control-lg" placeholder="Location ....">

				  <div class="input-group-append">
				    <button class="btn home_search_btn">Search</button>
				  </div>
				</div>
									
					
					
				</form>
			</div>
		</div>
		
</div>