<div class="section3">

	<div class="container">
		
		<div class="row">
			<div class="col s3_items">
				<a href="#">
					<div class="item_avatar" style="background-image: url('https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
					</div>
					<div class="info">
						<h6>Enhance Your Profile</h6>
						<p>
							With a unique network of clientele be sure you will be exposed to many of the countries most exciting events and unique opportunities.
						</p>
					</div>
				</a>
			</div>

			<div class="col s3_items">
				<a href="#">
					<div class="item_avatar" style="background-image: url('https://images.pexels.com/photos/280377/pexels-photo-280377.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');"></div>
					<div class="info">
						<h6>Last Minute Cover</h6>
						<p>
							With a unique pool of operatives all over the UK, we hold the perfect platform to assist you when time is running out...
						</p>
					</div>
				</a>
			</div>

			<div class="col s3_items">
				<a href="#">
					<div class="item_avatar" style="background-image: url('https://images.pexels.com/photos/194094/pexels-photo-194094.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');"></div>
					<div class="info">
						<h6>Someone Specific?</h6>
						<p>
							For tasks that require experience and specialist skills, our platform filters down operatives and lets you..
						</p>
					</div>
				</a>
			</div>
			
		</div>

	</div>

</div>