<div class="wrapper_search_box">
  <div class="container">
    <div class=" call_to_action_text">
      <h3 class="caato">
        <label class="color_red fat_text">Sebki</label>
        The smart way to hire security guards and officers.
      </h3>
    </div>

    <div class="gab"></div>

    <div class="row">

      <div class="col full_width">
        <label class="labelSearchTags"> What</label> <br>
        <input type="search" ng-model="searchTitle.title" class="customSearchInput">
        <label class="grayLabelSmal">
          Job title, keywords or company name
        </label>
      </div>

      <div class="col full_width">
        <label class="labelSearchTags"> Where</label> <br>
        <input type="search" ng-model="searchArea.description" class="customSearchInput">
        <label class="grayLabelSmal"> City </label>
      </div>

    </div>

  </div>

</div>

<div class="jobsList hidden" ng-controller="jobsController">

  <div class="container"  ng-show='filterdShows.length > 0'>

    <div class="row">

      <div class="col">

        <div class="jobItems animated fadeInUp" ng-repeat="job in filterdShows = ( jobsList | orderBy: 'created_at':true| filter:searchTitle | filter:searchArea)" >


          <br>


          <h5 class="title">
            <a href="{{job.url}}">
              <strong>
                {{job.title}}
              </strong>
            </a>
          </h5>
          <div class="JobInfo">
            <a href="#">Company Name</a> | <span>Location {{job.postcode}}</span> | <a href="#">{{job.number_of_bids}} bids</a>  | Hourly rate : {{job.hourly_rate | currency:'£' }}
          </div>

          <p class="jobDescription">
            {{job.summary | htmlToPlaintext | limitTo:200}} ...
          </p>
          <span class="created_atJob"> {{job.created_at | date }} </span>

        </div>

      </div>


      <div class="col-4">

      </div>

    </div>



  </div>
</div>


<div class="profiler_home">

  <br>
  <div class="container">
    
    <div class="row">

      <div class="col">
        <div class="card p30">
          <div class="card-body">
            <h5 class="card-title">Enhance Your Profile</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p class="card-text">
              With a unique network of clientele be sure you will be exposed to many of the countries most exciting events and unique opportunities.
            </p>

          </div>
        </div>

      </div>



      <div class="col">
        <div class="card p30">
          <div class="card-body">
            <h5 class="card-title">Last Minute Cover</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p class="card-text">
              With a unique pool of operatives all over the UK, we hold the perfect platform to assist you when time is running out.
            </p>

          </div>
        </div>
        
      </div>




      <div class="col">
        <div class="card p30">
          <div class="card-body">
            <h5 class="card-title">Someone Specific?</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p class="card-text">
              For tasks that require experience and specialist skills, our platform filters down operatives and lets you

              pick the best of the best, with browsable feedback history and internal verification you can be assured you hire the right person for the job.
            </p>

          </div>
        </div>
        
      </div>


    </div>

  </div>
</div>


<div class="lmtabs">
  <div class="container">
    
    <%= render 'home/lmtabs' %>

  </div>
</div>

<!-- <div class="call_to_action">
  <div class="container">
    <h2>Hello World</h2>
  </div>
</div> -->
