<div class="container">

  <div class="box_center">


    <div class="jumbotron">
      <h1 class="display-3">Hello <%= current_user.email %></h1>
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a href="<%= new_contractor_path %>" class="btn btn-round btn-purple">
          Create Profile
        </a>
      </p>
    </div>




  </div>

</div>
