<div class="tab-pane fade" id="certification" role="tabpanel" aria-labelledby="certification-tab">
  <h2>certification</h2>
  <a href="<%= new_license_path %>" class="btn btn-round btn-purple"> New</a>


</div>
