<div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
    <div class="conatiner">

    <div class="ProfileBio">
      <label>
        <small>
          <strong>
            Personal Bio
          </strong>
        </small>
      </label>
      <%= @contractor.bio.html_safe %>
    </div>

  </div>

</div>
