<div class="userInfoTabs" >
  <label>
    <small>
      Services
    </small> <br>
    <span class="badge badge-dark">
      <i class="fa fa-paw" aria-hidden="true"></i> Dog Handler
    </span>
    <span class="badge badge-dark">
      <i class="fa fa-key" aria-hidden="true"></i>
      Key Holder
    </span>
  </label>
</div>


<div class="userInfoTabs" >
  <label>
    <small>
      Sectors
    </small> <br>
    <span class="badge badge-primary">
      Constraction
    </span>
    <span class="badge badge-primary">
      Corperate
    </span>
  </label>
</div>
