#job_title {
	margin-bottom: 10px !important;
}

.text_editor {
	margin-bottom: 12px;
}



.the_hours {
    padding: 0;
    margin: 0;

    .col {
    	padding: 0;
    	margin: 0;
    }
}


.the_dates {
    padding: 0;
    margin: 0;

    .col {
    	padding: 0;
    	margin: 0;
    }
}